
<!DOCTYPE html>
<html>
<head>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ base_url() ~ '/css/materialize.min.css' }}">
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
</head>

<body>


   
<body>

{% include 'templates/partials/navigation.twig'%}

<div class="row">

   <div class="col s12 m3">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
        <div class="input-field">
              <form action="{{ path_for('search_kebab') }}" method="POST">
                <div class="input-field">
                <input placeholder="Search" name="search" type="search" required>
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
              {{  csrf.field | raw }}
            
        </div>
  </div>


    <div class="row fixed">

        <div class="input-field col s12">
        <div>
       <input name="search_type" type="radio" value="keyword" id="keyword" checked />
      <label for="keyword">Keyword</label>
      </div>
      <div>
      <input name="search_type" type="radio" value="tag" id="tag" />
      <label for="tag">Tag</label>
      </div>
      <div>
      <input  name="search_type" type="radio" value="username" id="username" />
      <label for="username">Username</label>
      </div>

      </div>
    </div>
    </form>

    </div>

      <div class="col s12 m9">
        {% include 'templates/partials/flash.twig' %}
        {% block content %} {% endblock %}
      </div>


</div>




<script src ="{{ base_url() ~ '/js/jquery.min.js' }}" type="text/javascript"></script>

<script src="{{ base_url() ~ '/js/materialize.min.js' }}"></script>


 <script>
$( document ).ready(function() {
  $(".button-collapse").sideNav();
  $(".dropdown-button").dropdown();
  Materialize.updateTextFields();
  $('select').material_select();
  });

</script>


</body>


</html>